<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipselabs.bobthebuilder.handlers.Handler"
            commandId="BobTheBuilder.commands.bobTheBuilderCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="BobTheBuilder.commands.bobTheBuilderCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+6">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="BobTheBuilder.menus.bobTheBuilderMenu"
               label="Bob The Builder"
               mnemonic="B">
            <command
                  commandId="BobTheBuilder.commands.bobTheBuilderCommand"
                  id="BobTheBuilder.menus.bobTheBuilderCommand"
                  mnemonic="B">
              <visibleWhen>
                <with variable="activeEditorId">
                   <equals value="org.eclipse.jdt.ui.CompilationUnitEditor"/>
                </with>
              </visibleWhen>
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="BobTheBuilder.toolbars.bobTheBuilderToolbar">
            <command
                  commandId="BobTheBuilder.commands.bobTheBuilderCommand"
                  icon="icons/btb.png"
                  id="BobTheBuilder.toolbars.bobTheBuilderCommand"
                  tooltip="Run Bob The Builder">
            </command>
            <visibleWhen>
               <with variable="activeEditorId">
                  <equals value="org.eclipse.jdt.ui.CompilationUnitEditor">
                  </equals>
               </with>
            </visibleWhen>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="BobTheBuilder.commands.category"
            name="Bob the Builder Category">
      </category>
      <command
            categoryId="BobTheBuilder.commands.category"
            id="BobTheBuilder.commands.bobTheBuilderCommand"
            name="Bob The Builder">
      </command>
   </extension>
</plugin>
